.currentNumbersContainer {
  background-color: white;
  border-radius: 10px;
  height: auto;
  margin: 0 auto;
  padding: 1.875rem 1.875rem 0 1.875rem;
  width: 100%;
}

@media (min-width: 765px) {
  .backersContainer {
    width: 730px;
  }

  .row {
    display: flex;
    justify-content: space-around;
  }
}
