.backersContainer {
  background-color: white;
  border-radius: 10px;
  height: auto;
  margin: 0 auto;
  padding: 30px 30px 0 30px;
  width: 100%;
}

@media (min-width: 765px) {
  .backersContainer {
    width: 730px;
  }

  .row {
    display: flex;
    justify-content: space-around;
  }
}
