.container {
  background-color: white;
  border-radius: 10px;
  height: auto;
  margin: 0 auto;
  padding: 2.5rem 1.25rem;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  z-index: 50;
}

.rows {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.title {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
}

.intro {
  line-height: 1.5;
  margin-bottom: 32px;
  margin-top: 2rem;
  text-align: left;
}

.close {
  float: right;
}
