.btn {
  background-color: hsl(176, 50%, 47%);
  border-radius: 32px;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  margin: 4px 2px;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
}

.btnSmall {
  padding: 12px 20px;
  font-size: 0.8rem;
}
/* 
button:active {
  outline: none;
} */

button:hover {
  background-color: hsl(176, 72%, 28%);
}
