* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  color: black;
  font-size: 1.125rem;
  font-weight: 900;
  padding: 1rem 0rem 2rem 0px;
}

.text {
  line-height: 1.5;
  padding: 0 0 2rem 0;
  font-size: 0.875rem;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.container {
  background-color: white;
  border-radius: 10px;
  height: auto;
  padding: 2.5rem 1.25rem;
  width: 100%;
  margin: 0 auto;
}


@media (min-width: 765px){
  .title {
    font-size: 1.25rem
    
  }

  .text {
    font-size: 1rem;
  }


}