* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  background-color: whitesmoke;
  position: relative;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem;
  position: absolute;
  width: 90%;
  z-index: 2;
}
.logo {
  height: 100%;
  width: 100%;
}
.nav-options {
  display: flex;
  flex-direction: column;
  height: 300px;
  left: -100%;
  list-style-type: none;
  position: absolute;
  top: 80px;
  width: 100%;
}
.nav-options.active {
  align-content: center;
  background: white;
  border-radius: 5px;
  border: black solid 1px;
  height: auto;
  left: 20px;
  padding-left: 0px;
  text-align: left;
  width: 90%;
  z-index: 6;
}

.menu-icon {
  height: 45px;
  width: 45px;
}
.option {
  align-items: left;
  border-bottom: black solid 1px;
  display: flex;
  height: 10vw;
  justify-content: left;
  padding: 1rem 1rem;
  text-decoration: none;
}

.mobile-menu {
  display: block;
}
