* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
 
}

.container {
  background-color: whitesmoke;
  position: relative;
  width: 100%;
}

.logo-nav{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 1rem;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.logo {
  height: 100%;
  width: 100%;
}

.nav-options{

  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: right;
  width: 45%;
  text-decoration: none;
  list-style-type: none;

}

.mobile-menu{
  display:none;
}


@media only screen and (max-width: 768px) {

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem;
    position: absolute;
    width: 100%;
    z-index: 2;
  }



.nav-options {
  display: flex;
  flex-direction: column;
  height: 300px;
  left: -150%;
  list-style-type: none;
  margin-left: 20px;
  position: absolute;
  top: 80px;
  width: 100%;
}
.nav-options.active {
  align-content: center;
  background: white;
  border-radius: 5px;
  border: lightgrey solid 1px;
  height: auto;
  left: 0px;
  padding-left: 0px;
  text-align: left;
  width: 90%;
  z-index: 6;
}

.menu-icon {
  align-content: right;
  height: 45px;
  width: 20px;
}

.option {
  align-items: left;
  border-bottom: lightgrey solid 1px;
  display: flex;
  height: 60px;
  justify-content: left;
  padding: 1rem 1rem;
  text-decoration: none;
}

.mobile-menu {
  display: block;
}

a {
  color: black;
  text-decoration: none;
}
}