.wrapper {
  border-radius: 5px;
  border: solid 1px hsla(0, 0%, 48%, 0.158);
  max-height: 500px;
  position: relative;
}

.wrapper:hover {
  border: 3px solid hsl(176, 50%, 47%);
}

.container {
  height: 350px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: left;
}

.title {
  color: black;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: left;
  width: 75%;
}

.pledge__text {
  color: hsl(176, 50%, 47%);
  font-size: 0.875rem;
  font-weight: 700;
}

.description {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-top: 1.25rem;
  text-align: left;
}

.amount {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.left {
  color: grey;
  font-size: 1rem;
}


.overlay {
  background-color: rgba(0, 0, 0, 0.075);
  height: 10%;
  position: relative;
  width: 100%;
  z-index: 30;
}

@media (min-width: 400px) {
  .amountAndButton {
    display: flex;
    justify-content: space-between;
  }

  .container {
    height: 248px;
  }
}

@media (min-width: 765px) {
  .title {
    font-size: 1.125rem;
  }

  .pledge__text {
    font-size: 0.9375rem;
  }

  .info {
    font-size: 1rem;
  }

  .amountAndButton {
    margin-top: 3rem;
  }

  .titlePledgeContainer {
    display: flex;
    flex-direction: row;
  }
}
