* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.test2 {
  position: relative;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  top: -32px;
  row-gap: 16px;
  margin: 0 auto;
}

.box {
  width: auto;
  height: 100px;
  background-color: white;
  height: auto;
  border-radius: 10px;
}

hr {
  width: 30%;
  margin: auto;
  border: none;
  border-top: 1px solid hsl(0, 0%, 48%);
}

.box1 {
  background-color: white;
  height: auto;
  border-radius: 10px;
  
}

@media(min-width: 765px){
  .box{width: 730px;
  margin: 0 auto;};



}
