* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.backers-About-Sections {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
  position: relative;
  row-gap: 16px;
  top: -32px;
  width: 100%;
}

.about-section {
  width: auto;
  height: 100px;
  background-color: white;
  height: auto;
  border-radius: 10px;
}

.pledges-container{
 padding: 0 10%;
}

@media(min-width: 765px){
  .about-section{width: 730px;
  margin: 0 auto;};
  .pledges-container{
    max-width: 730px;
  }
}
