@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");


.title {
  color: black;
  font-size: 20px;
  margin: 0 0.9375rem;
}

.container {
  background-color: white;
  border-radius: 0.625rem;
  height: 300px;
  margin: 0 auto;
  padding: 0rem 1.25rem 1.875rem 1.25rem;
  position: relative;
  right: 0px;
  text-align: center;
  top: -3.125rem;
  width: 100%;
}

.details {
  color: hsl(0, 0%, 48%);
  font-size: 0.875rem;
  font-weight: 500;
  padding: 1.5625rem 0px;
}

.btnBookmarkRow {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}

.logo {
  margin-right: -15px;
  position: relative;
  right: 15px;
  top: -30px;
}

.bookMark {
  display: none;
}

@media (min-width: 700px) {
  .title {
    font-size: 1.75rem;
    width: 730px;
  }
  .text {
    font-size: 1rem;
    font-weight: 500;
    padding: 1.5625rem 0px;
  }

  .bookMark {
    align-items: center;
    border-radius: 30px;
    border: none;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    height: 55px;
    justify-content: center;
    text-align: center;
    width: 200px;
  }

  .bookmarkIcon {
    position: absolute;
    right: 170px;
    top: 200px;
  }
}
